
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div style="padding:200px 0; text-align:center;">
      <div style="font-size: 20px;"><b>本当に退会しますか？</b></div><br>


      退会する場合は、「退会する」をクリックしてください。</p><br>


      <%= link_to "退会しない", users_user_path(current_user.id), class: 'btn btn-primary btn-lg', style: "margin-right:50px" %>
      <%= link_to "退会する", active_users_user_path(current_user.id),class: 'btn btn-danger btn-lg', method: :patch %>
    </div>

  </div>
</div>