<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-3">
        <h2>設定一覧</h2>
    </div>

    <div class="col-md-2 col-md-offset-5">
    </div>

    <div class="col-md-2">
    </div>
</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to admins_homes_path do %>
			<div class="btn-lg btn-primary">
				TOP編集
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to admins_informations_path do %>
			<div class="btn-lg btn-primary">
				information投稿
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to admins_prices_path do %>
			<div class="btn-lg btn-primary">
				料金編集
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<%= link_to admins_tennis_courts_path do %>
			<div class="btn-lg btn-primary">
				コート編集
			</div>
		<% end %>
    </div>

</div><!-- --------------------------row------------------------- -->