<div class="row"><!-- --------------------row-------------------- -->
    <div class="heading">
        <h1>PortFolio</h1>
    </div>

</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
	<div class="page">
		<%= link_to new_admin_session_path do %>
			<div class="btn-lg btn-primary">
				管理者ページ
			</div>
		<% end %>
			<div>ID:test@test　　　PW:aaaaaa</div>

		<%= link_to new_user_session_path do %>
			<div class="btn-lg btn-success">
	        	ユーザーページ
	        </div>
        <% end %>
        	<div>ID:1@test　　　PW:aaaaaa</div>
	</div>

</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
	<div class="col-md-8">
	    <div class="section">
	        <h2>サイト概要</h2>
	    </div>

	    <div class="section_content">
	    	テニスコートをオンラインで24時間予約受付ができるサイトになります。
	    </div>
    </div>

</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
	<div class="col-md-8">
	    <div class="section">
	        <h2>サイトテーマ</h2>
	    </div>

	    <div class="section_content">
	    	<ul>
		    	<li>顧客が手軽に予約ができ、集客率UP</li>
				<li>管理者が容易に予約管理を行い、業務効率向上</li>
				<li>管理者自身がカスタマイズできるようにして、製作者側の負担を軽減し、<br>顧客の手離れをよくする</li>
				<li>統計データから、導入効果を実感でき、戦略が建てられるような仕組み</li>
			</ul>
	    </div>
    </div>

</div><!-- --------------------------row------------------------- -->


<div class="row"><!-- --------------------row-------------------- -->
	<div class="col-md-8">
	    <div class="section">
	        <h2>制作したきっかけ</h2>
	    </div>

	    <div class="section_content">
	    	テニスコートの予約は電話受付のみで、ネットで予約できるところが少ないです。<br>
			また、ホットペッパーなどの総合予約サイトなども普及して無く、<br>競合が少ないブルーオーシャン地帯であると考え制作いたしました。
	    </div>
    </div>

</div><!-- --------------------------row------------------------- -->



<div class="row"><!-- --------------------row-------------------- -->
	<div class="col-md-8">
	    <div class="section">
	        <h2>機能一覧</h2>
	    </div>

	    <div class="section_content">
	    	<a href="https://docs.google.com/spreadsheets/d/19Qyk3y5ETqGNL0R_VQIG1LcXmwgQlh6LB_ZrYdgpMVI/edit?usp=sharing">リンク</a>
	    </div>
    </div>

</div><!-- --------------------------row------------------------- -->





