<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-6">
        <h2><%= link_to "image編集", admins_top_images_path, class: "btn btn-primary" %></h2>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
	<div class="a">
		<% @topimages.each do |topimage| %>
	    <div class="b"><%= attachment_image_tag topimage, :top_image, :fill, 1000, 350 %></div>
	    <% end %>
	</div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
		<div class="btn-lg btn-primary">
			ログイン
		</div>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->
	<div style="text-align: center">
        <div class="btn-lg btn-success">
        	予約
        </div>
    </div>

</div><!-- --------------------------row------------------------- -->

<div class="row"><!-- --------------------row-------------------- -->

    <div class="col-md-6">
    </div>

    <div class="col-md-6">
    </div>

</div><!-- --------------------------row------------------------- -->




<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>