<div class="row"><!-- --------------------row-------------------- -->
    <div class="col-md-6">
        <h2><%= link_to "image編集", admins_top_images_path, class: "btn btn-primary" %></h2>
    </div>

</div><!-- --------------------------row------------------------- -->

